button {
  border: 0;
}

.header {
  align-items: center;
  background: lightgray;
  box-sizing: border-box;
  display: flex;
  height: 58px;
  justify-content: space-between;
  width: 100%;
}

.search-off {
  align-content: center;
  align-items: center;
  background: lightgray;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 58px;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.search-on {
  top: 58px;
  z-index: 0;
}

.header > p {
  font-size: 35px;
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
}

.ico_user {
  background: url('../../images/profileIcon.svg');
  height: 30px;
  margin: 0 15px;
  width: 30px;
}

.ico_search {
  background: url('../../images/searchIcon.svg');
  cursor: pointer;
  height: 30px;
  margin: 0 15px;
  width: 30px;
}
