button {
  border: 0;
}

.header {
  align-items: center;
  background: lightgray;
  box-sizing: border-box;
  display: flex;
  height: 58px;
  justify-content: space-between;
  width: 100%;
}

.header > p {
  font-size: 35px;
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
}

.ico_user {
  background: url('../../images/profileIcon.svg');
  height: 30px;
  margin: 0 15px;
  width: 30px;
}

.ico_search {
  background: url('../../images/searchIcon.svg');
  cursor: pointer;
  height: 30px;
  margin: 0 15px;
  width: 30px;
}
