.header {
  height: 58px;
  width: 100%;
  background: lightgray;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.header > p {
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  margin-top: 30px;
}

.ico_user {
  width: 30px;
  height: 30px;
  margin: 0 15px;
  background: url(../images/profileIcon.svg);
}

.ico_search {
  width: 30px;
  height: 30px;
  margin: 0 15px;
  background: url(../images/searchIcon.svg);
}
