.footer {
  background: linear-gradient(rgba(181, 150, 71, 1), red 100%, rgba(163, 29, 15, 1));
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}
