@font-face {
  font-family: DotOutline;
  src: url('//db.onlinewebfonts.com/c/0c86dfc1b0efbd887e62112f6aaffd17?family=DotOutline');
}

@media screen and ( min-width : 360px ) and ( min-height : 640px ) {

  footer {
    height: 80px;
  }

  .item-card {
    background-color: black;
    border-radius: 10px;
    font-size: 10pt;
    margin: 15px;
    min-width: 150px;
    text-align: center;
  }

  .card-img-top {
    border-radius: 10px;
  }

  .meals-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

}

@media screen and ( max-width : 360px ) and ( max-height : 640px ) {

  footer {
    height: 40px;
  }

  .item-card {
    background-color: black;
    border-radius: 10px;
    font-size: 10pt;
    margin: 3%;
    max-width: 40%;
    text-align: center;
  }

  .card-img-top {
    border-radius: 10px;
  }

  .meals-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 60px;
  }

}

.categories-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  text-align: center;
}

.category-btn {
  margin: 10px;
  text-align: center;
  background: #009fe3;
  font-family: DotOutline;
  font-weight: 800;
}

.card-title {
  color: aliceblue;
}
