.search {
  align-content: center;
  align-items: center;
  background: gray;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  height: 120px;
  justify-content: space-around;
  padding: 5px;
  position: absolute;
  top: 70px;
  width: 100%;
}
